@font-face {
    font-family: "Roboto";
    src:
        local("Roboto Regular"),
        local("Roboto-Regular"),
        url("../fonts/web/roboto.woff") format("woff");
    
}

body {
    min-width: 1180px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", "Arial", sans-serif;
    color: #283136;
    background-color: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/*можно слить вверх и низ*/
.main-header .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	jusstify-content: space-between;
}

.main-header {
    padding-top: 49px;
	line-height: 30px;
    color: #000000;
    background-color:cornflowerblue;/*#eeeeee*/
	
}

.header-logo {
	flex-grow: 2;
	background-color: darkgoldenrod
}

.header-logo img {
    width: 160px;
    height: 65px;
}

.header-logo:hover img {
    opacity: 0.8;
}

.header-logo.active img {
    opacity: 0.3;
}

.main-nav {
	flex-grow: 1;
	background-color: bisque;
}
.main-nav ul {
    margin: 0;
	mmargin-left: 200px;
	margin-top: 7px;
    padding: 0;
    list-style: none;
	display: flex;
	flex-wrap: wrap;
	
	min-width: 400px;
	max-width: 800px;
	width: 600px;/*640*/
	background-color: yellow;
}

.main-nav li {
    text-transform: uppercase;
	/*flex-grow: 1;*/
	background-color: aqua;
	margin-right: 25px;/*46px*/
	/*float: left;*/
	/*margin-right: 46px;*/
	
	
}

.main-nav li:last-child {
	margin-right: 0;
}

.main-nav a {
	display: inline-block;
	padding: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: 500;
    text-decoration: none;
    color: #000000;
}
    
.main-nav a:hover {
    color: #fb565a;
}

.main-nav a:focus {
	outline: none;
    box-shadow: 
		0 0 0 3px #fff,
		0 0 6px 6px #d13b3f;
}

.main-nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-nav a.active {
	border-bottom: 2px solid #fb565a;
}

.basket {
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #000000;
	vertical-align: bottom;
}

.basket::before {
	content: "";
	display: inline-block;
	min-height: 15px;
	min-width: 15px;
	margin-right: 25px;
	margin-bottom: 2px;
	vertical-align: middle;
	background-image: url("../img/cart-icon.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	background-position: center;
}

.basket:hover {
    color: #fb565a;
}

.basket:focus {
	outline: none;
    box-shadow: 
		0 0 0 3px #fff,
		0 0 6px 6px #d13b3f;
}

.basket:active {
	color: rgba(0, 0, 0, 0.3);
}

.basket.active {
	border-bottom: 2px solid #fb565a;
}

/********Слайдер******/

.slider-gallery {
	min-height: 430px;
	position: relative;
	background-color: #eeeeee;
}

.slider-gallery input[type=radio] {
	display: none;
}

.slide1, .slide2, .slide3 {
	display: none;
}

#btn-1:checked ~ .slide-controls label[for="btn-1"]:after,
#btn-2:checked ~ .slide-controls label[for="btn-2"]:after,
#btn-3:checked ~ .slide-controls label[for="btn-3"]:after {
    opacity: 1;
}

#btn-1:checked ~ .slide-wrapper .slide1,
#btn-2:checked ~ .slide-wrapper .slide2,
#btn-3:checked ~ .slide-wrapper .slide3 {
	display: block;
}



.slide .slide-title {
	font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.btn {
    display: inline-block;
    padding: 16px;
    font: inherit;
	line-height: 18px;
	font-weight: 500;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
	background-color: #fb565a;
	cursor: pointer;
    border-radius: 2px;
	outline: none;
}

.btn:hover {
	background-color: #e74246;	
}

.btn:focus {
	box-shadow: 
		0 0 0 3px #fff,
		0 0 6px 6px #d13b3f;
}
.btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.slider-gallery .btn {
	width: 208px;	
}


.slide-controls {
	position: absolute;
	bottom: 96px;
	width: 100%;
	text-align: center;
	font-size: 0;
	background-color: coral;
}

.slide-controls label {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	vertical-align: middle;
	margin-right: 17px;
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
}

.slide-controls label::after {
	content: "";
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -4px;
	opacity: 0;
	width: 8px;
	height: 8px;
	background-color: #ffffff;
	border: 2px solid rgba(0, 0, 0, 0.4);
	border-radius: 50%;
}

.slide-controls label:focus {
	box-shadow: 
		0 0 0 3px #fff,
		0 0 6px 6px #d13b3f;
}

/*******Наши услуги******/

.services {
    padding-top: 80px;
    padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;
}

.services-list {
	padding: 0;
	list-style: none;
	display: flex;
}

.service-item {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin-right: 100px;
}

.service-title {
	margin: 0;
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
	text-transform: uppercase;
}

.service-item p {
	margin: 0;
	margin-bottom: 33px;
	width: 260px;
}

.services .btn {
	width: 128px;
	margin-top: auto;
}

.service-site-btn {
	background-color: #fb565a;
}

.service-site-btn:hover {
	background-color: #e74246;
}

.service-site-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.service-apps-btn {
	background-color: #00ca74;
}

.service-apps-btn:hover {
	background-color: #00bc6c;
}

.service-apps-btn:focus {
	box-shadow: 
		0 0 0 3px #fff,
		0 0 6px 6px #38ce8e;
}

.service-apps-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #00aa62;
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.service-presents-btn {
	background-color: #efc84a;
}

.service-presents-btn:hover {
	background-color: #eab534;
}

.service-presents-btn:focus {
	box-shadow: 
		0 0 0 3px #fff,
		0 0 6px 6px #cda935;
}

.service-presents-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #e5a722;
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}


/*******О компании******/

.about-company {
	padding-top: 40px;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
	outline: 2px solid green;
}

.about-descript {
	width: 680px;
	padding-top: 32px;
	outline: 1px solid black;
}

.about-company-title {
	display: block;
	margin: 0;
	margin-bottom: 34px;
	font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.about-descript p {
	margin: 0;
	margin-bottom: 39px;
}

.about-company-subtitle {
	margin: 0;
	margin-bottom: 24px;
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
}

.about-descript .about-descript-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-descript-list li {
	position: relative;
	margin-bottom: 24px;
	padding-left: 36px;
}

.about-descript-list li::before {
	content: "";
	position: absolute;
	left: 1px;
	top: 50%;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.about-stat {
	width: 360px;
	outline: 1px solid blue;
}

.about-stat-subtitle {
	display: block;
	margin-top: 29px;
	margin-bottom: 29px;
	text-align: center;
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
}

.stat-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.stat-item {
	display: inline-block;
	width: 100px;
	margin-right: 15px;
	font-weight: bold;
	font-size: 45px;
	line-height: 50px; /*подбор*/
	color: #000000;
}

.stat-item sup {
	font-size: 26px;
}

.stat-item .note {
	display: block;
	margin-top: 17px;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #283136;	
}



.contacts h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.contacts p {
	font-size: 16px;
	line-height: 30px;
	color: #666666;
}

.btn-wtite-us {
	width: 187px;
}

.footer-promos b {
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}

.footer-promos p {
	font-size: 16px;
	line-height: 22px;
	color: #444444;
}

.modal-write-us h2 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.feedback-form-group label {
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.feedback-form button {
	width: 228px;
}

.modal-write-us .modal-close {
	border: none;
	content: "";
	display: block;
	height: 21px;
	width: 21px;
	background-image: url("../img/close-cross.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.modal-write-us .modal-close:hover {
	opacity: 1;
}

.modal-write-us .modal-close:focus {
	opacity: 1;
	outline: none;
	box-shadow: 
		0 0 0 3px #fff,
		0 0 6px 9px #d13b3f;
	
}

.modal-write-us .modal-close:active {
	opacity: 0.1;
}

/********Страница каталога********/

.page-title-catalog {
	font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
	text-align: center;
	background-color: #eeeeee;
}

.filters {
  width: 260px;
}

.filters fieldset {
	bborder: none;
	margin: 0;
	padding: 0;
}

.filter-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: 000000;
	text-transform: uppercase;
}

.filter-grid ul,
.filter-features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-cost label {
	font-size: 16px;
	line-height: 22px;
	color: #283136;
}

.filter-grid label,
.filter-features label {
	font-size: 16px;
	line-height: 20px;
	color: #283136;
}


.btn-filter {
	box-sizing: border-box;
	background-color: #eeeeee;
	width: 100%;
	color: #000000;
}

.btn-filter:hover {
	background-color: #dfdfdf;
}

.btn-filter:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.catalog {
	width: 760px;
}

.sort-filter-tittle {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.sort-filter-type {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sort-filter-type li:last-child {
	font-size: 0;
}

.sort-filter-type a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	opacity: 0.3;
}

.sort-filter-type a:hover {
	opacity: 0.6;
}

.sort-filter-type a:active {
	opacity: 1;
}

a.sort-type-active {
	opacity: 1;
}

.sort-filter-type .sort-icon {
	display: inline-block;
	width: 11px;
	height: 10px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
}

.sort-filter-type .sort-icon-down {
	background-image: url("../img/icon-down-dir.svg");
}

.sort-filter-type .sort-icon-up {
	background-image: url("../img/icon-up-dir.svg");
	margin-left: 18px;
}

.sort-filter-type .sort-icon-active {
	opacity: 1;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
	ddisplay: flex;
}

.catalog-item {
	width: 360px;
}

.description-item {
	text-align: center;
}

.catalog-tittle {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.catalog-tittle h3 {
	margin: 0;
}

.description-item p {
	margin: 0;
}

.btn-buy {
	width: 160px;
}

.btn-buy:active {
	width: 160px;
	color: #ffffff;
}

.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-item a {
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.pagination-item a:hover {
	
}

.pagination-item a:active {
	color: rgba(255, 255, 255, 0.3);
}

